<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <title>Clerk Main Menu</title>
</head>
<body>
<% include common/navbar_clerk.ejs %>
<div class="container">
    <h1>Main Menu</h1>
    <div>
        <a href="/add_tool">Add Tool</a>
    </div>
    <div>
        <a href="/pickup">Pickup Reservation</a>
    </div>
    <div>
        <a href="/dropoff">Dropoff Reservation</a>
    </div>
    <div>
        <a href="/clerkReport">Clerk Report</a>
    </div>
    <div>
        <a href="/customerReport">Customer Report</a>
    </div>
    <div>
        <a href="/toolReport">Tool Inventory Report</a>
    </div>
</div>
</body>
</html>