<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <title>Customer Main Menu</title>
</head>
<body>
<% include common/navbar_customer.ejs %>
<div class="container">
    <h1>Main Menu</h1>
    <hr>
    <div>
        <a href="/ViewProfile">View Profile</a>
    </div>
    <div>
        <a href="/tool">Check Tool Availability</a>
    </div>
    <div>
        <a href="/makeReservation">Make Reservation</a>
    </div>
</div>

</body>
</html>